spring:
  cloud:
    inetutils:
      preferred-networks: 127.0.0.1
  zipkin:
    baseUrl: http://localhost:9411/
    sender:
      type: rabbit
  sleuth:
    sampler:
      probability : 1
    
eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.cloud.client.ip-address}:${server.port}
  client:
    register-with-eureka: true
    fetch-registry: true
#开启熔断器
feign:
  hystrix:
    enabled: true
